/.vscode/settings.json
/.vscode/perso_python.code-workspace
/admin.enc
/datas/keys.py

/old_modules/accounts/__pycache__
/old_modules/applications_skeleton/__pycache__
/old_modules/encryption/__pycache__
/old_modules/files/__pycache__
/old_modules/security/__pycache__

/old_projects/master_login/sources/__pycache__
/old_projects/master_manager/sources/__pycache__
old_datas/__pycache__/authorized.cpython-38.pyc
old_datas/__pycache__/keys.cpython-38.pyc
old_datas/__pycache__/paths.cpython-38.pyc
old_modules/encryption/my_encrpyt.py
modules/tools/__pycache__/file_explorer.cpython-38.pyc
