/.vscode/settings.json
/admin.enc
/datas/keys.py
/perso_python.code-workspace

/modules/accounts/__pycache__
/modules/applications_skeleton/__pycache__
/modules/encryption/__pycache__
/modules/files/__pycache__
/modules/security/__pycache__

/projects/master_login/sources/__pycache__
/projects/master_manager/sources/__pycache__
datas/__pycache__/authorized.cpython-38.pyc
datas/__pycache__/keys.cpython-38.pyc
datas/__pycache__/paths.cpython-38.pyc
